* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#game {
    width: 800px;
    height: 800px;
    border: 3px solid black;
    margin: auto;
    background-color: aqua;
    overflow: hidden;
}

#block {
    height: 800px;
    width: 80px;
    background-color: green;
    position: relative;
    left: 720px;
    animation: fence 2s infinite linear;
}

@keyframes fence {
    0% {
        left: 800px
    }

    100% {
        left: -100px
    }
}

#gap {
    width: 80px;
    height: 200px;
    background-color: aqua;
    position: relative;
    top: -600px;
    left: 720px;
    animation: fence 2s infinite linear;
}

#character {
    position: absolute;
    top: 100px;
}

img {
    max-width: 70px;
}