* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background-image: url(https://images.unsplash.com/photo-1564500617448-e541b1df7cee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&w=1000&q=80);
}

#game {
    width: 600px;
    height: 750px;
    border: 1px solid black;
    margin: auto;
    background-color: rgb(1, 172, 228);
    overflow: hidden;
}

#block {
    height: 750px;
    width: 75px;
    background-color: brown;
    position: relative;
    left: 520px;
    animation: fence 2s infinite linear;
}

@keyframes fence {
    0% {
        left: 520px
    }

    100% {
        left: -75px
    }
}

#gap {
    width: 75px;
    height: 225px;
    background-color: rgb(1, 172, 228);
    position: relative;
    top: -750px;
    left: 520px;
    animation: fence 2s infinite linear;
}

#character {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
}

img {
    max-width: 50px;
    max-height: 50px;
}